@import "tailwindcss";
@plugin 'tailwindcss-animate';
:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand: #fa7275;
  --brand-100: #ea6365;
  --red: #ff7474;
  --error: #b80000;
  --green: #3dd9b3;
  --blue: #56b8ff;
  --pink: #eea8fd;
  --orange: #f9ab72;
  --light-100: #333f4e;
  --light-200: #a3b2c7;
  --light-300: #f2f5f9;
  --light-400: #f2f4f8;
  --dark-100: #04050c;
  --dark-200: #131524;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --color-brand: var(--brand);
  --color-brand-100: var(--brand-100);
  --color-red: var(--red);
  --color-error: var(--error);
  --color-green: var(--green);
  --color-blue: var(--blue);
  --color-pink: var(--pink);
  --color-orange: var(--orange);
  --color-light-100: var(--light-100);
  --color-light-200: var(--light-200);
  --color-light-300: var(--light-300);
  --color-light-400: var(--light-400);
  --color-dark-100: var(--dark-100);
  --color-dark-200: var(--dark-200);
}
@theme {
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
  --animate-caret: caret-blink 1.25s ease-out infinite;
  --shadow-drop-1: 0px 10px 30px 0px rgba(66, 71, 97, 0.1);
  --shadow-drop-2: 0 8px 30px 0 rgba(65 89, 214, 0.3);
  --shadow-drop-3: 0 8px 30px 0 rgba(65, 89, 214, 0.1);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 3px;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #fa7275;
  }
}

@utility recharts-responsive-container {
  height: initial !important;
}
@utility h1 {
  @apply text-[34px] font-bold leading-[42px];
}
@utility h2 {
  @apply text-[24px] font-bold leading-[36px];
}
@utility h3 {
  @apply text-[20px] font-semibold leading-[28px];
}
@utility h4 {
  @apply text-[18px] font-medium leading-[20px];
}
@utility h5 {
  @apply text-[16px] font-semibold leading-[24px];
}
@utility remove-scrollbar {
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }
}
@utility subtitle-1 {
  @apply text-[16px] font-medium leading-[24px];
}
@utility subtitle-2 {
  @apply text-[14px] font-semibold leading-[20px];
}
@utility body-1 {
  @apply text-[16px] font-normal leading-[24px];
}
@utility body-2 {
  @apply text-[14px] font-normal leading-[20px];
}
@utility button {
  @apply text-[14px] font-medium leading-[20px];
}
@utility caption {
  @apply text-[12px] font-normal leading-[16px];
}
@utility overline {
  @apply text-[10px] font-normal leading-[14px];
}

/* ===== HELPER CLASSES */
@utility container {
  @apply mx-auto max-w-7xl px-5;
}
@utility primary-btn {
  @apply bg-brand hover:bg-brand-100 button rounded-full transition-all;
}
@utility flex-center {
  @apply flex items-center justify-center;
}

/* =====  SHADCN OVERRIDES */
@utility shad-no-focus {
  @apply outline-none ring-offset-transparent focus:ring-transparent focus:ring-offset-0 focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0;
}
@utility shad-input {
  @apply shad-no-focus placeholder:text-light-200 body-2 border-none p-0 shadow-none;
}

@utility shad-form-item {
  @apply border-light-300 shadow-drop-1 flex h-[78px] flex-col justify-center rounded-xl border px-4;
}
@utility shad-form-label {
  @apply text-light-100 body-2 w-full pt-2;
}
@utility shad-form-message {
  @apply text-red body-2 ml-4;
}
@utility shad-alert-dialog {
  @apply max-w-[95%] space-y-4 rounded-xl bg-white px-4 py-10 outline-none sm:w-fit md:rounded-[30px] md:px-8;
}
@utility shad-submit-btn {
  @apply bg-brand button hover:bg-brand-100 rounded-full transition-all;
}
@utility shad-otp {
  @apply flex w-full justify-between gap-1 sm:gap-2;
}
@utility shad-otp-slot {
  @apply ring-brand shadow-drop-1 text-brand-100 border-light-300 flex size-12 justify-center gap-5 rounded-xl border-2 text-[40px] font-medium md:size-16;
}

@utility shad-sheet {
  @apply pt-0;
  & button {
    @apply outline-none focus:ring-0 focus:ring-offset-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0;
  }
}

@utility shad-dialog {
  & button {
    @apply outline-none focus:ring-0 focus:ring-offset-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0;
  }
}
@utility shad-dropdown-item {
  @apply cursor-pointer;
}
@utility shad-dialog {
  @apply w-[90%] max-w-[400px] rounded-[26px] px-6 py-8;
}
@utility shad-chart-title {
  @apply text-white;
}
@utility shad-select-item {
  @apply cursor-pointer;
}

/* Sidebar & MobileNavigation */
@utility nav-icon {
  @apply w-6 opacity-25 invert filter;
}
@utility nav-icon-active {
  @apply opacity-100 invert-0;
}

/* =====  STYLE CLASSES */

/* Root Layout */
@utility main-content {
  @apply remove-scrollbar bg-light-400 h-full flex-1 overflow-auto px-5 py-7 sm:mr-7 sm:rounded-[30px] md:mb-7 md:px-9 md:py-10;
}

/* Dashboard */
@utility dashboard-container {
  @apply mx-auto grid max-w-7xl grid-cols-1 gap-6 md:grid-cols-2 xl:gap-10;
}
@utility dashboard-summary-list {
  @apply mt-6 grid grid-cols-1 gap-4 xl:mt-10 xl:grid-cols-2 xl:gap-9;
}
@utility dashboard-summary-card {
  @apply relative mt-6 rounded-[20px] bg-white p-5 transition-all hover:scale-105;
}
@utility summary-type-icon {
  @apply absolute -left-3 top-[-25px] z-10 w-[190px] object-contain;
}
@utility summary-type-size {
  @apply h4 relative z-20 w-full text-right;
}
@utility summary-type-title {
  @apply h5 relative z-20 text-center;
}
@utility dashboard-recent-files {
  @apply custom-scrollbar h-full overflow-auto rounded-[20px] bg-white p-5 xl:h-[654px] xl:p-7;
}
@utility recent-file-details {
  @apply flex w-full items-center justify-between;
}
@utility recent-file-name {
  @apply subtitle-2 text-light-100 line-clamp-1 w-full sm:max-w-[200px] lg:max-w-[250px];
}
@utility recent-file-date {
  @apply body-2 text-light-100/80;
}
@utility empty-list {
  @apply body-1 text-light-200 mt-10 text-center;
}

/* Type page */
@utility page-container {
  @apply mx-auto flex w-full max-w-7xl flex-col items-center gap-8;
}
@utility total-size-section {
  @apply mt-2 flex flex-col justify-between sm:flex-row sm:items-center;
}
@utility file-list {
  @apply grid w-full gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
}
@utility sort-container {
  @apply mt-5 flex items-center sm:mt-0 sm:gap-3;
}

/* ActionsDropdown */
@utility rename-input-field {
  @apply body-2 shad-no-focus shadow-drop-1 h-[52px] w-full rounded-full border px-4;
}
@utility delete-confirmation {
  @apply text-light-100 text-center;
}
@utility delete-file-name {
  @apply text-brand-100 font-medium;
}
@utility modal-cancel-button {
  @apply text-light-100 h-[52px] flex-1 rounded-full bg-white hover:bg-transparent;
}
@utility modal-submit-button {
  @apply primary-btn !mx-0 h-[52px] w-full flex-1;
}

/* ActionsModalContent */
@utility file-details-thumbnail {
  @apply border-light-200/40 bg-light-400/50 !mb-1 flex items-center gap-3 rounded-xl border p-3;
}
@utility file-details-label {
  @apply body-2 text-light-100 w-[30%];
}
@utility file-details-value {
  @apply subtitle-2 flex-1;
}

@utility share-wrapper {
  @apply !mt-2 space-y-2;
}
@utility share-input-field {
  @apply body-2 shad-no-focus shadow-drop-1 h-[52px] w-full rounded-full border px-4;
}
@utility share-remove-user {
  @apply text-light-100 rounded-full bg-transparent shadow-none hover:bg-transparent;
}
@utility remove-icon {
  @apply aspect-square rounded-full;
}

/* AuthForm */
@utility auth-form {
  @apply flex max-h-[800px] w-full max-w-[580px] flex-col justify-center space-y-6 transition-all lg:h-full lg:space-y-8;
}
@utility form-title {
  @apply h1 text-light-100 text-center md:text-left;
}
@utility form-submit-button {
  @apply primary-btn h-[66px];
}
@utility error-message {
  @apply body-2 bg-error/5 text-error mx-auto w-fit rounded-xl px-8 py-4 text-center;
}

/* Card */
@utility file-card {
  @apply hover:shadow-drop-3 flex cursor-pointer flex-col gap-6 rounded-[18px] bg-white p-5 shadow-sm transition-all;
}
@utility file-card-details {
  @apply text-light-100 flex flex-col gap-2;
}

/* Chart */
@utility chart {
  @apply bg-brand flex items-center rounded-[20px] p-2 text-white md:flex-col xl:flex-row;
}
@utility chart-container {
  @apply mx-auto aspect-square w-[180px] text-white xl:w-[200px];
}
@utility polar-grid {
  @apply last:fill-brand first:fill-white/20;
}
@utility chart-details {
  @apply flex-1 items-start px-3 py-0 sm:px-5 lg:p-3 xl:pr-5;
}
@utility chart-total-percentage {
  @apply fill-white text-4xl font-bold;
}
@utility chart-title {
  @apply h3 font-bold md:text-center lg:text-left;
}
@utility chart-description {
  @apply subtitle-1 mt-2 w-full text-white/70 md:text-center lg:text-left;
}

/* FileUploader */
@utility uploader-button {
  @apply primary-btn shadow-drop-1 h-[52px] gap-2 px-10;
}
@utility uploader-preview-list {
  @apply shadow-drop-3 fixed bottom-10 right-10 z-50 flex size-full h-fit max-w-[480px] flex-col gap-3 rounded-[20px] bg-white p-7;
}
@utility uploader-preview-item {
  @apply shadow-drop-3 flex items-center justify-between gap-3 rounded-xl p-3;
}
@utility preview-item-name {
  @apply subtitle-2 mb-2 line-clamp-1 max-w-[300px];
}

@utility error-toast {
  @apply bg-red !rounded-[10px];
}

/* Header */
@utility header {
  @apply hidden items-center justify-between gap-5 p-5 sm:flex lg:py-7 xl:gap-10;
}
@utility header-wrapper {
  @apply flex-center min-w-fit gap-4;
}
@utility sign-out-button {
  @apply flex-center bg-brand/10 text-brand hover:bg-brand/20 h-[52px] min-w-[54px] items-center rounded-full p-0 shadow-none transition-all;
}

/* Mobile Navigation */
@utility mobile-header {
  @apply flex h-[60px] justify-between px-5 sm:hidden;
}
@utility header-user {
  @apply text-light-100 sm:bg-brand/10 my-3 flex items-center gap-2 rounded-full p-1 sm:justify-center lg:justify-start lg:p-3;
}
@utility header-user-avatar {
  @apply aspect-square w-10 rounded-full object-cover;
}
@utility mobile-nav {
  @apply h5 text-brand flex-1 gap-1;
}
@utility mobile-nav-list {
  @apply flex flex-1 flex-col gap-4;
}
@utility mobile-nav-item {
  @apply text-light-100 h5 flex h-[52px] w-full items-center justify-start gap-4 rounded-full px-6;
}
@utility mobile-sign-out-button {
  @apply h5 bg-brand/10 text-brand hover:bg-brand/20 flex h-[52px] w-full items-center gap-4 rounded-full px-6 shadow-none transition-all;
}

/* OTP Modal */
@utility otp-close-button {
  @apply absolute -right-1 -top-7 cursor-pointer sm:-right-2 sm:-top-4;
}

/* Search */
@utility search {
  @apply relative w-full md:max-w-[480px];
}
@utility search-input-wrapper {
  @apply shadow-drop-3 flex h-[52px] flex-1 items-center gap-3 rounded-full px-4;
}
@utility search-input {
  @apply body-2 shad-no-focus placeholder:body-1 placeholder:text-light-200 w-full border-none p-0 shadow-none;
}
@utility search-result {
  @apply absolute left-0 top-16 z-50 flex w-full flex-col gap-3 rounded-[20px] bg-white p-4;
}
@utility empty-result {
  @apply body-2 text-light-100 text-center;
}

/* Sidebar */
@utility sidebar {
  @apply remove-scrollbar hidden h-screen w-[90px] flex-col overflow-auto px-5 py-7 sm:flex lg:w-[280px] xl:w-[325px];
}
@utility sidebar-nav {
  @apply h5 text-brand mt-9 flex-1 gap-1;
}
@utility sidebar-nav-item {
  @apply text-light-100 h5 flex h-[52px] items-center justify-center gap-4 rounded-xl lg:w-full lg:justify-start lg:rounded-full lg:px-[30px];
}
@utility sidebar-user-info {
  @apply bg-brand/10 text-light-100 mt-4 flex items-center justify-center gap-2 rounded-full p-1 lg:justify-start lg:p-3;
}
@utility sidebar-user-avatar {
  @apply aspect-square w-10 rounded-full object-cover;
}

@utility shad-active {
  @apply bg-brand shadow-drop-2 text-white;
}

/* Sort */
@utility sort-select {
  @apply shad-no-focus h-11 w-full rounded-[8px] border-transparent bg-white !shadow-sm sm:w-[210px];
}
@utility sort-select-content {
  @apply !shadow-drop-3;
}

/* Thumbnail */
@utility thumbnail {
  @apply flex-center bg-brand/10 size-[50px] min-w-[50px] overflow-hidden rounded-full;
}
@utility thumbnail-image {
  @apply size-full object-cover object-center;
}
